<!-- Party Book -->
<div class="party-book">
  <div class="book-ribbon">
    <img src="img/party/ribbon_gold.png" >
  </div>

  <div class="container">
    <div class="bb-custom-wrapper">
      <div id="bb-bookblock" class="bb-bookblock">
        <!--Cover-->
        <div class="bb-item bb-cover">
          <div class="bb-custom-side blank-side"></div>
          <div class="bb-custom-side cover">
            <h1>Meet Our Wedding Party</h1>
          </div>
        </div>
        <!-- Special-->
        <div class="bb-item">
          <div class="bb-custom-side">
            <div class="member left">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.specialParty.bridesmaids.image }}" ></div>
              <div class="member-name">{{ wpc.specialParty.bridesmaids.name }}</div>
              <div class="member-title">Maid of Honor</div>
              <div class="member-bio">{{ wpc.specialParty.bridesmaids.bio }}</div>
            </div>
          </div>
          <div class="bb-custom-side">
            <div class="member right">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.specialParty.groomsman.image }}" ></div>
              <div class="member-name">{{ wpc.specialParty.groomsman.name }}</div>
              <div class="member-title">Best Man</div>
              <div class="member-bio">{{ wpc.specialParty.groomsman.bio }}</div>
            </div>
          </div>
        </div>
        <!--0-->
        <div class="bb-item">
          <div class="bb-custom-side">
            <div class="member left">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.partylist[0].bridesmaids.image }}" ></div>
              <div class="member-name">{{ wpc.partylist[0].bridesmaids.name }}</div>
              <div class="member-title">Bridesmaids</div>
              <div class="member-bio">{{ wpc.partylist[0].bridesmaids.bio }}</div>
            </div>
          </div>
          <div class="bb-custom-side">
            <div class="member right">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.partylist[0].groomsman.image }}" ></div>
              <div class="member-name">{{ wpc.partylist[0].groomsman.name }}</div>
              <div class="member-title">Groomsman</div>
              <div class="member-bio">{{ wpc.partylist[0].groomsman.bio }}</div>
            </div>
          </div>
        </div>
        <!--1-->
        <div class="bb-item">
          <div class="bb-custom-side">
            <div class="member left">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.partylist[1].bridesmaids.image }}" ></div>
              <div class="member-name">{{ wpc.partylist[1].bridesmaids.name }}</div>
              <div class="member-title">Bridesmaids</div>
              <div class="member-bio">{{ wpc.partylist[1].bridesmaids.bio }}</div>
            </div>
          </div>
          <div class="bb-custom-side">
            <div class="member right">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.partylist[1].groomsman.image }}" ></div>
              <div class="member-name">{{ wpc.partylist[1].groomsman.name }}</div>
              <div class="member-title">Groomsman</div>
              <div class="member-bio">{{ wpc.partylist[1].groomsman.bio }}</div>
            </div>
          </div>
        </div>
        <!--2-->
        <div class="bb-item">
          <div class="bb-custom-side">
            <div class="member left">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.partylist[2].bridesmaids.image }}" ></div>
              <div class="member-name">{{ wpc.partylist[2].bridesmaids.name }}</div>
              <div class="member-title">Bridesmaids</div>
              <div class="member-bio">{{ wpc.partylist[2].bridesmaids.bio }}</div>
            </div>
          </div>
          <div class="bb-custom-side">
            <div class="member right">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.partylist[2].groomsman.image }}" ></div>
              <div class="member-name">{{ wpc.partylist[2].groomsman.name }}</div>
              <div class="member-title">Groomsman</div>
              <div class="member-bio">{{ wpc.partylist[2].groomsman.bio }}</div>
            </div>
          </div>
        </div>
        <!--3-->
        <div class="bb-item">
          <div class="bb-custom-side">
            <div class="member left">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.partylist[3].bridesmaids.image }}" ></div>
              <div class="member-name">{{ wpc.partylist[3].bridesmaids.name }}</div>
              <div class="member-title">Bridesmaids</div>
              <div class="member-bio">{{ wpc.partylist[3].bridesmaids.bio }}</div>
            </div>
          </div>
          <div class="bb-custom-side">
            <div class="member right">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.partylist[3].groomsman.image }}" ></div>
              <div class="member-name">{{ wpc.partylist[3].groomsman.name }}</div>
              <div class="member-title">Groomsman</div>
              <div class="member-bio">{{ wpc.partylist[3].groomsman.bio }}</div>
            </div>
          </div>
        </div>
        <!--4-->
        <div class="bb-item">
          <div class="bb-custom-side">
            <div class="member left">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.partylist[4].bridesmaids.image }}" ></div>
              <div class="member-name">{{ wpc.partylist[4].bridesmaids.name }}</div>
              <div class="member-title">Bridesmaids</div>
              <div class="member-bio">{{ wpc.partylist[4].bridesmaids.bio }}</div>
            </div>
          </div>
          <div class="bb-custom-side">
            <div class="member right">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.partylist[4].groomsman.image }}" ></div>
              <div class="member-name">{{ wpc.partylist[4].groomsman.name }}</div>
              <div class="member-title">Groomsman</div>
              <div class="member-bio">{{ wpc.partylist[4].groomsman.bio }}</div>
            </div>
          </div>
        </div>
        <!--5-->
        <div class="bb-item">
          <div class="bb-custom-side">
            <div class="member left">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.partylist[5].bridesmaids.image }}" ></div>
              <div class="member-name">{{ wpc.partylist[5].bridesmaids.name }}</div>
              <div class="member-title">Bridesmaids</div>
              <div class="member-bio">{{ wpc.partylist[5].bridesmaids.bio }}</div>
            </div>
          </div>
          <div class="bb-custom-side">
            <div class="member right">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.partylist[5].groomsman.image }}" ></div>
              <div class="member-name">{{ wpc.partylist[5].groomsman.name }}</div>
              <div class="member-title">Groomsman</div>
              <div class="member-bio">{{ wpc.partylist[5].groomsman.bio }}</div>
            </div>
          </div>
        </div>
        <!--6-->
        <div class="bb-item">
          <div class="bb-custom-side">
            <div class="member left">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.partylist[6].bridesmaids.image }}" ></div>
              <div class="member-name">{{ wpc.partylist[6].bridesmaids.name }}</div>
              <div class="member-title">Bridesmaids</div>
              <div class="member-bio">{{ wpc.partylist[6].bridesmaids.bio }}</div>
            </div>
          </div>
          <div class="bb-custom-side">
            <div class="member right">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.partylist[6].groomsman.image }}" ></div>
              <div class="member-name">{{ wpc.partylist[6].groomsman.name }}</div>
              <div class="member-title">Groomsman</div>
              <div class="member-bio">{{ wpc.partylist[6].groomsman.bio }}</div>
            </div>
          </div>
        </div>
        <!--7-->
        <div class="bb-item">
          <div class="bb-custom-side">
            <div class="member left">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.partylist[7].bridesmaids.image }}" ></div>
              <div class="member-name">{{ wpc.partylist[7].bridesmaids.name }}</div>
              <div class="member-title">Bridesmaids</div>
              <div class="member-bio">{{ wpc.partylist[7].bridesmaids.bio }}</div>
            </div>
          </div>
          <div class="bb-custom-side">
            <div class="member right">
              <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.partylist[7].groomsman.image }}" ></div>
              <div class="member-name">{{ wpc.partylist[7].groomsman.name }}</div>
              <div class="member-title">Groomsman</div>
              <div class="member-bio">{{ wpc.partylist[7].groomsman.bio }}</div>
            </div>
          </div>
        </div>
        <!-- Back -->
        <div class="bb-item bb-cover">
          <div class="bb-custom-side cover">
            <h1>The End</h1>
          </div>
          <div class="bb-custom-side blank-side"></div>
        </div>
      </div>
      <nav>
        <a id="bb-nav-first" href="#" class="bb-custom-icon bb-custom-icon-first"><i class="fa fa-angle-double-left"></i></a>
        <a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left"><i class="fa fa-chevron-left"></i></a>
        <a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right"><i class="fa fa-chevron-right"></i></a>
        <a id="bb-nav-last" href="#" class="bb-custom-icon bb-custom-icon-last"><i class="fa fa-angle-double-right"></i></a>
      </nav>
    </div>
  </div>
</div>

<!--TEMP DIVIDER-->
<div class="temp-divider"></div>

<script>
/*Book Variables*/
var Page = (function() {

  var config = {
      $bookBlock : $( '#bb-bookblock' ),
      $navNext : $( '#bb-nav-next' ),
      $navPrev : $( '#bb-nav-prev' ),
      $navFirst : $( '#bb-nav-first' ),
      $navLast : $( '#bb-nav-last' )
    },
    init = function() {
      config.$bookBlock.bookblock( {
        speed : 1000,
        shadowSides : 0.8,
        shadowFlip : 0.4
      } );
      initEvents();
    },
    initEvents = function() {

      var $slides = config.$bookBlock.children();

      // add navigation events
      config.$navNext.on( 'click touchstart', function() {
        config.$bookBlock.bookblock( 'next' );
        return false;
      } );

      config.$navPrev.on( 'click touchstart', function() {
        config.$bookBlock.bookblock( 'prev' );
        return false;
      } );

      config.$navFirst.on( 'click touchstart', function() {
        config.$bookBlock.bookblock( 'first' );
        return false;
      } );

      config.$navLast.on( 'click touchstart', function() {
        config.$bookBlock.bookblock( 'last' );
        return false;
      } );

      // add swipe events
      $slides.on( {
        'swipeleft' : function( event ) {
          config.$bookBlock.bookblock( 'next' );
          return false;
        },
        'swiperight' : function( event ) {
          config.$bookBlock.bookblock( 'prev' );
          return false;
        }
      } );

      // add keyboard events
      $( document ).keydown( function(e) {
        var keyCode = e.keyCode || e.which,
          arrow = {
            left : 37,
            up : 38,
            right : 39,
            down : 40
          };

        switch (keyCode) {
          case arrow.left:
            config.$bookBlock.bookblock( 'prev' );
            break;
          case arrow.right:
            config.$bookBlock.bookblock( 'next' );
            break;
        }
      } );
    };

    return { init : init };

})();

Page.init();
</script>
