<div class="card-page">
  <h1>Gallery</h1>

  <div class="galleryDisplay">
    <div class="mainContainer">
      <div class="polaroid">
        <div class="img-container">          
          <img ng-src="img/gallery/test/{{gc.selecteditem.img}}" >
        </div>
      </div>
      <div class="imageControls">
        <div class="ctrls prev" ng-click="gc.prevItem()"><i class="fa fa-chevron-circle-left"></i></div>
        <div class="ctrls next" ng-click="gc.nextItem()"><i class="fa fa-chevron-circle-right"></i></div>
      </div>
    </div>

    <div class="allContainer">
      <div class="miniImgs" ng-repeat="item in gc.displayitems track by $index" ng-click="gc.switchItem(item.id)">
        <img ng-src="img/gallery/test/{{item.img}}" >
      </div>
    </div>
  </div>
</div>
