<div class="card-page">
  <h1>Gallery</h1>

  <div class="loading-animation" ng-if="!gc.preLoad"><div class="loading-text">Loading</div><i class="fa fa-circle-o-notch fa-spin"></i></div>

  <div class="newGalleryDisplay" ng-if="gc.preLoad">
    <div class="gallery-container">
      <div class="gallery-nav">
        <div class="item-container">
          <div class="gallery-item" ng-repeat="gitem in gc.items" ng-click="gc.changeGallery(gitem)" ng-class="gc.navSelected(gitem)">
            <div class="item-img"><img ng-src="{{gitem.images[0].img}}" alt="{{gitem.images[0].img}}"></div>
            <div class="item-title">{{gitem.title}}</div>
          </div>
        </div>
        <!--<div class="photo-credits" ng-if="gc.displayCredit == true"><span>all photos were captured by allen house studios</span> <a class="allen-logo" href="http://www.allenhousestudios.com/" target="_blank"><img src="img/allenhouselogo.png" /></a></div>-->
      </div>
      <section id="photostack-1" class="photostack">
        <!-- Photo Navigation -->
        <div class="photo-ctrl ctrl-left" ng-click="gc.ctrlSelected('prev')"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
        <div class="photo-ctrl ctrl-right" ng-click="gc.ctrlSelected('next')"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>

        <div class="stack-container">
          <!-- Repeat Images -->
          <figure ng-repeat="item in gc.displayItems" ng-click="gc.changeSelected(item, $event, true)" ng-class="gc.isSelected(item.id)" ng-attr-id="{{'photo-'+ item.id}}" photo-motion selectedid="{{gc.selectedid}}" itemid="{{item.id}}" itemcount="{{gc.displayItems.length}}">
            <div class="photostack-img"><img ng-src="{{item.img}}" alt="{{item.img}}"></div>
            <figcaption>
              <h2 class="photostack-title">{{item.title}}</h2>
            </figcaption>
          </figure>
          <div class="photo-nav">
            <div ng-repeat="item in gc.displayItems" class="nav-icon" ng-class="gc.isSelected(item.id, $event, false)" ng-click="gc.changeSelected(item)" photo-motion selectedid="{{gc.selectedid}}" itemid="{{item.id}}" itemcount="{{gc.displayItems.length}}" isnav="true">
              <img class="img-preview" ng-src="{{item.img}}" alt="{{item.img}}">
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


<!-- Notification slide open-->
<div class="side-msg allenMsg show" ng-if="gc.displayCredit == true && gc.preLoad.$$state.status == 1" scroll-display hiddenloc="top">
  <div class="msg-container"><span>photos were captured by allen house studios</span> <a class="allen-logo" href="http://www.allenhousestudios.com/" target="_blank"><img src="img/allenhouselogo.png" /></a></div>
</div>
