<div class="card-page">
  <h1>Our Story</h1>

  <!-- Party Book -->
  <div class="party-book">
    <nav class="book-outside-nav">
      <a id="bb-nav-first" href="#" class="bb-custom-icon bb-custom-icon-first"><i class="fa fa-angle-double-left"></i></a>
      <a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left"><i class="fa fa-chevron-left"></i></a>
      <a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right"><i class="fa fa-chevron-right"></i></a>
      <a id="bb-nav-last" href="#" class="bb-custom-icon bb-custom-icon-last"><i class="fa fa-angle-double-right"></i></a>
    </nav>

    <div class="container">
      <div class="bb-custom-wrapper">
        <div id="bb-bookblock" class="bb-bookblock">
          <!--Cover-->
          <div class="bb-item bb-cover">
            <div class="bb-custom-side blank-side"></div>
            <div class="bb-custom-side cover">
              <div class="cover-text">
                <h1 class="front-cover">Our Story</h1>
                <div class="story-cover-img"><img src="img/KrisNGrace.png"></div>
              </div>
            </div>
          </div>
          <!--0-->
          <div class="bb-item">
            <div class="bb-custom-side">
              <div class="story left">
                <div class="story-page-img"><img ng-src="{{oc.story[0].left.img }}" ></div>
              </div>
            </div>
            <div class="bb-custom-side">
              <div class="story right">
                <div class="story-img"><img ng-src="img/party/ribbon_blush.png" ng-if="oc.story[0].right.perspective == 'grace'"><img ng-src="img/party/ribbon_blue.png" ng-if="oc.story[0].right.perspective == 'kris'"></div>
                <div class="story-title">{{oc.story[0].right.title}}</div>
                <div class="story-when">{{oc.story[0].right.when}}</div>
                <div class="story-content">"{{oc.story[0].right.content}}"</div>
                <div class="story-teller"><span class="c{{oc.story[0].right.perspective}}">{{oc.story[0].right.perspective}}</span></div>
              </div>
            </div>
          </div>
          <!--1-->
          <div class="bb-item">
            <div class="bb-custom-side">
              <div class="story left">
                <div class="story-page-img"><img ng-src="{{oc.story[1].left.img }}" ></div>
              </div>
            </div>
            <div class="bb-custom-side">
              <div class="story right">
                <div class="story-img"><img ng-src="img/party/ribbon_blush.png" ng-if="oc.story[1].right.perspective == 'grace'"><img ng-src="img/party/ribbon_blue.png" ng-if="oc.story[1].right.perspective == 'kris'"></div>
                <div class="story-title">{{oc.story[1].right.title}}</div>
                <div class="story-when">{{oc.story[1].right.when}}</div>
                <div class="story-content">"{{oc.story[1].right.content}}"</div>
                <div class="story-teller"><span class="c{{oc.story[1].right.perspective}}">{{oc.story[1].right.perspective}}</span></div>
              </div>
            </div>
          </div>
          <!-- ******* -->

          <!--2-->
          <div class="bb-item">
            <div class="bb-custom-side">
              <div class="story left">
                <div class="story-page-img"><img ng-src="{{oc.story[2].left.img }}" ></div>
              </div>
            </div>
            <div class="bb-custom-side">
              <div class="story right">
                <div class="story-img"><img ng-src="img/party/ribbon_blush.png" ng-if="oc.story[2].right.perspective == 'grace'"><img ng-src="img/party/ribbon_blue.png" ng-if="oc.story[2].right.perspective == 'kris'"></div>
                <div class="story-title">{{oc.story[2].right.title}}</div>
                <div class="story-content">"{{oc.story[2].right.content}}"</div>
                <div class="story-teller"><span class="c{{oc.story[2].right.perspective}}">{{oc.story[2].right.perspective}}</span></div>
              </div>
            </div>
          </div>
          <!--3-->
          <div class="bb-item">
            <div class="bb-custom-side">
              <div class="story left">
                <div class="story-page-img"><img ng-src="{{oc.story[3].left.img }}" ></div>
              </div>
            </div>
            <div class="bb-custom-side">
              <div class="story right">
                <div class="story-img"><img ng-src="img/party/ribbon_blush.png" ng-if="oc.story[3].right.perspective == 'grace'"><img ng-src="img/party/ribbon_blue.png" ng-if="oc.story[3].right.perspective == 'kris'"></div>
                <div class="story-title">{{oc.story[3].right.title}}</div>
                <div class="story-when">{{oc.story[3].right.when}}</div>
                <div class="story-content">"{{oc.story[3].right.content}}"</div>
                <div class="story-teller"><span class="c{{oc.story[3].right.perspective}}">{{oc.story[3].right.perspective}}</span></div>
              </div>
            </div>
          </div>
          <!--4-->
          <div class="bb-item">
            <div class="bb-custom-side">
              <div class="story left">
                <div class="story-page-img"><img ng-src="{{oc.story[4].left.img }}" ></div>
              </div>
            </div>
            <div class="bb-custom-side">
              <div class="story right">
                <div class="story-img"><img ng-src="img/party/ribbon_blush.png" ng-if="oc.story[4].right.perspective == 'grace'"><img ng-src="img/party/ribbon_blue.png" ng-if="oc.story[4].right.perspective == 'kris'"></div>
                <div class="story-title">{{oc.story[4].right.title}}</div>
                <div class="story-when">{{oc.story[4].right.when}}</div>
                <div class="story-content">"{{oc.story[4].right.content}}"</div>
                <div class="story-teller"><span class="c{{oc.story[4].right.perspective}}">{{oc.story[4].right.perspective}}</span></div>
              </div>
            </div>
          </div>
          <!--5-->
          <div class="bb-item">
            <div class="bb-custom-side bb-title">
              <div class="cover-text left">
                <h1>{{oc.story[5].left.title}}</h1>
              </div>
            </div>
            <div class="bb-custom-side">
              <div class="story right">
                <div class="story-img"><img ng-src="img/party/ribbon_blush.png" ng-if="oc.story[5].right.perspective == 'grace'"><img ng-src="img/party/ribbon_blue.png" ng-if="oc.story[5].right.perspective == 'kris'"></div>
                <div class="story-title">{{oc.story[5].right.title}}</div>
                <div class="story-when">{{oc.story[5].right.when}}</div>
                <div class="story-content">"{{oc.story[5].right.content}}"</div>
                <div class="story-teller"><span class="c{{oc.story[5].right.perspective}}">{{oc.story[5].right.perspective}}</span></div>
              </div>
            </div>
          </div>
          <!--6-->
          <div class="bb-item">
            <div class="bb-custom-side">
              <div class="story left">
                <div class="story-img"><img ng-src="img/party/ribbon_blush.png" ng-if="oc.story[6].left.perspective == 'grace'"><img ng-src="img/party/ribbon_blue.png" ng-if="oc.story[6].left.perspective == 'kris'"></div>
                <div class="story-title">{{oc.story[6].left.title}}</div>
                <div class="story-when">{{oc.story[6].left.when}}</div>
                <div class="story-content">"{{oc.story[6].left.content}}"</div>
                <div class="story-teller"><span class="c{{oc.story[6].left.perspective}}">{{oc.story[6].left.perspective}}</span></div>
              </div>
            </div>
            <div class="bb-custom-side">
              <div class="story right">
                <div class="story-img"><img ng-src="img/party/ribbon_blush.png" ng-if="oc.story[6].right.perspective == 'grace'"><img ng-src="img/party/ribbon_blue.png" ng-if="oc.story[6].right.perspective == 'kris'"></div>
                <div class="story-title">{{oc.story[6].right.title}}</div>
                <div class="story-when">{{oc.story[6].right.when}}</div>
                <div class="story-content">"{{oc.story[6].right.content}}"</div>
                <div class="story-teller"><span class="c{{oc.story[6].right.perspective}}">{{oc.story[6].right.perspective}}</span></div>
              </div>
            </div>
          </div>
          <!--7-->
          <div class="bb-item">
            <div class="bb-custom-side">
              <div class="story left">
                <div class="story-page-img"><img ng-src="{{oc.story[7].left.img }}" ></div>
              </div>
            </div>
            <div class="bb-custom-side">
              <div class="story right">
                <div class="story-img"><img ng-src="img/party/ribbon_blush.png" ng-if="oc.story[7].right.perspective == 'grace'"><img ng-src="img/party/ribbon_blue.png" ng-if="oc.story[7].right.perspective == 'kris'"></div>
                <div class="story-title">{{oc.story[7].right.title}}</div>
                <div class="story-when">{{oc.story[7].right.when}}</div>
                <div class="story-content">"{{oc.story[7].right.content}}"</div>
                <div class="story-teller"><span class="c{{oc.story[1].right.perspective}}">{{oc.story[7].right.perspective}}</span></div>
              </div>
            </div>
          </div>
          <!--8-->
          <div class="bb-item">
            <div class="bb-custom-side bb-title">
              <div class="cover-text left">
                <h1>{{oc.story[8].left.title}}</h1>
              </div>
            </div>
            <div class="bb-custom-side">
              <div class="story right video-story">
                <div class="story-inside-img"><img src="img/KrisNGrace2.png"></div>
                <!--<div class="story-page-video">
                  <iframe src="https://www.youtube.com/embed/awMIbA34MT8" frameborder="0" allowfullscreen></iframe>
                </div>-->
              </div>
            </div>
          </div>
          <!-- ******* -->
          <!-- Back -->
          <div class="bb-item bb-cover">
            <div class="bb-custom-side cover">
              <div class="cover-text">
                <h1>The End</h1>
              </div>
            </div>
            <div class="bb-custom-side blank-side"></div>
          </div>
        </div>
        <!--<nav class="book-inside-nav">
          <a id="bb-nav-first" href="#" class="bb-custom-icon bb-custom-icon-first"><i class="fa fa-angle-double-left"></i></a>
          <a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left"><i class="fa fa-chevron-left"></i></a>
          <a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right"><i class="fa fa-chevron-right"></i></a>
          <a id="bb-nav-last" href="#" class="bb-custom-icon bb-custom-icon-last"><i class="fa fa-angle-double-right"></i></a>
        </nav>-->
      </div>
    </div>
  </div>

</div>
