<div class="card-page">
  <h1>Registry</h1>

  <div class="registry-text">
    <p>We want our wedding to be a time to celebrate with our family and friends, but if you happened to want to get us something.  We are planning on getting our first house soon after the wedding so anything that can help us build our first home we would love the most.  If you need alittle push in the right direction we are register at the following place so feel free to get us something from one of our online registries below.</p>
  </div>

  <div class="registry-links">
    <a ng-repeat="item in rgc.items" ng-href="{{item.url}}" target="_blank">
      <div class="registry-item"><img ng-src="img/registry/{{item.img}}"></div>
    </a>
    <div class="no-items" ng-if="rgc.items.length == 0">We are still working on our registry list please check back later.</div>
  </div>

</div>
