<div class="card-page">
  <h1>RSVP</h1>

  <div class="rsvp-key">
    <div class="rsvpKeyForm">
      <md-input-container class="">
          <label>Please Enter In The RSVP Key On Your Invitation To Open Up The RSVP Form.</label>
          <input name="userKey" ng-model="rc.userkey" ng-disabled="rc.status=='UNLOCKED'">
      </md-input-container>
      <md-button class="md-fab md-mini key-unlock" ng-click="rc.CheckKey()" ng-disabled="rc.status=='UNLOCKED'"><i class="fa fa-unlock"></i></md-button>
    </div>
  </div>

  <div class="rsvp-locked" ng-if="rc.status=='LOCKED'">
    <i class="fa fa-lock"></i>
    <p>This Form Is Locked Please Enter In The Correct Key</p>
  </div>

  <div class="rsvp-form" ng-if="rc.status=='UNLOCKED'">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdgZvEB4dWX4MRtvGoAxOOZqtJINwpChqx_Wqu9ar8bupNbDg/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</div>
