<div class="card-page">
  <h1>Wedding Party</h1>


  <div class="wedding-party">
    <div class="party-image">
      <img src="img/party/Party.jpg" >
    </div>

    <!--Wedding Cards-->
    <div class="party-cards">
      <div class="party-list">
        <div class="special party-group" ng-class="{'selected': wpc.isSelected(wpc.specialParty)}">
          <div class="party-row" ng-click="wpc.clickParty(wpc.specialParty)">
            <div class="card-ribbon"><img src="img/party/ribbon_gold.png" ></div>
            <div class="party-content">
              <div class="member left">
                <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.specialParty.bridesmaids.image }}" ></div>
                <div class="member-name">{{ wpc.specialParty.bridesmaids.name }}</div>
                <div class="member-title">Maid of Honor</div>
                <div class="member-bio">{{ wpc.specialParty.bridesmaids.bio }}</div>
              </div>
              <div class="member right">
                <div class="member-img"><img ng-src="img/weddingicons/svg/{{ wpc.specialParty.groomsman.image }}" ></div>
                <div class="member-name">{{ wpc.specialParty.groomsman.name }}</div>
                <div class="member-title">Best Man</div>
                <div class="member-bio">{{ wpc.specialParty.groomsman.bio }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="party-group" ng-repeat="party in wpc.partylist" ng-class="{'selected': wpc.isSelected(party)}">
          <div class="party-row" ng-click="wpc.clickParty(party)">
            <div class="card-ribbon"><img src="img/party/ribbon_peacock.png" ng-if="$odd" ><img src="img/party/ribbon_blush.png" ng-if="$even"></div>
            <div class="party-content">
              <div class="member left">
                <div class="member-img"><img ng-src="img/weddingicons/svg/{{ party.bridesmaids.image }}" ></div>
                <div class="member-name">{{ party.bridesmaids.name }}</div>
                <div class="member-title">Bridesmaid</div>
                <div class="member-bio">{{ party.bridesmaids.bio }}</div>
              </div>
              <div class="member right">
                <div class="member-img"><img ng-src="img/weddingicons/svg/{{ party.groomsman.image }}" ></div>
                <div class="member-name">{{ party.groomsman.name }}</div>
                <div class="member-title">Groomsman</div>
                <div class="member-bio">{{ party.groomsman.bio }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
