@medium-screen: ~"only screen and (min-width: 801px) and (max-width: 1024px)";
@tablet-screen: ~"only screen and (min-width: 641px) and (max-width: 800px)";
@mobile-screen: ~"only screen and (max-width: 640px)";

@font-size: 16px;

/*Main Colors*/
@color1: rgba(4,18,45,1); //Midnight Blue
@color2: rgba(25,62,71,1); //Peacock Green
@color3: rgba(208,181,126,1); //Gold
@color4: rgba(245,215,205,1); //Blush
@color5: rgba(44,58,71,1); //Dark Blue

/*
@color1: rgba(8,52,87,1);//Blue
@color2: rgba(159,159,159,1);//Silver
@color3: rgba(214,48,96,1);//Red
@color4: rgba(248,159,187,1);//Pink
*/

/*Back Colors*/
@color1-back: rgba(4,18,45,0.5); //Midnight Blue
@color2-back: rgba(25,62,71,0.5); //Peacock Green
@color3-back: rgba(208,181,126,0.5); //Gold
@color4-back: rgba(245,215,205,0.5); //Blush
@color5-back: rgba(44,58,71,0.5); //Dark Blue

/*
@color1-back: rgba(8,52,87,0.5); //Blue
@color2-back: rgba(159,159,159,0.5); //Silver
@color3-back: rgba(214,48,96,0.5);//Red
@color4-back: rgba(248,159,187,0.5);//Pink
*/
/*Box-Shadow*/
@main-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
@dark-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

html, body {
  height: 100%;
  font-size: @font-size;
  font-family: 'Great Vibes', cursive;
  @media @tablet-screen, @mobile-screen { font-size: 12px; }
}

.basic-cursive { font-family: 'Lobster', cursive; }
.basic-font { font-family: 'Libre Baskerville', serif; }

.bodycontainer {
  //background-color: rgba(204,186,152,1);
  background-image: url("../img/background/back8.jpg");
  background-repeat:repeat;
  //background-size: 100% 100%;
  width: 100%;
  min-height: 100%;
  padding: 200px 5% 5% 5%;

  .header {
    z-index:10;
  }

  .card-body {
    background-color: @color1;
    margin: 0 20px;
    border-radius: 0px 0px 25px 25px;
    padding: 5%;
    z-index:5;
    -webkit-transition: all 2s;
    transition: all 2s;
    box-shadow: @main-shadow;

    &.closed { padding: 0px; height: 40px; }
    &.screenPass { padding-top: 220px;}

    .card-content {
      color: #fff;
      -webkit-transition: all 3s;
      transition: all 3s;
      &.closed { display: none;}
      .mainBody {
        .card-page {
          color: @color3;
          h1 { text-align: center;}
          .home-text {
            text-align: center;
            font-family: 'Libre Baskerville', serif;
            font-size: 1.3rem;
            padding: 0px 20%;
            .groom { color: @color2; font-weight: bold;}
            .bride { color: @color4; font-weight: bold;}
            @media @tablet-screen, @mobile-screen { padding: 0; }
          }
        }
      }
    }
  }

  .mainBody {
    z-index:5;
  }

  .cardOpener { padding: 10px 50px 5px 0px; float: right; color: rgba(255,255,255,1); }

}

.nav-container {
  z-index: 10;
  border: 2px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .nav-top {
  	background-color: @color1;
    background-image: url("../img/Background2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 400px;
    @media @tablet-screen, @mobile-screen { min-height: 270px; }

    .nav-top-header {
      height: 50px;
      background-color: rgba(255,255,255,0.9);
      z-index: 15;
      .center-img {
        width: 200px;
        height: 200px;
        background-color: #fff;
        position: absolute;
        //left: 45%;
        left: ~"calc(50% - 100px)";
        z-index: 20;
        top: 125px;
        /* Rotate div */
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        overflow: hidden;

        img {
          width: 150%;
          -ms-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          position:absolute;
          top: -40px;
          @media @tablet-screen, @mobile-screen { width: 170%; top:-30px; }
        }
        &:hover{
          outline: 5px solid @color2;
        }
        @media @tablet-screen, @mobile-screen {
          width: 100px;
          height: 100px;
          left: ~"calc(50% - 50px)";
          top: 175px;
        }
      }
      .nav-top-text {
        color: rgba(0,0,0,1);
        padding: 10px 0px;
        font-size: 1.5rem;

        .text-left { display: inline-block; float: left; width: 30%; text-align: center;}
        .text-right{ display: inline-block; float: right; width: 30%; text-align: center;}
        @media @tablet-screen, @mobile-screen {
          padding:5px 0px;
          font-size: 1.3rem;
        }
      }

    }
    .nav-top-content {
      height: 100%;
      .card-title-text {
        display: inline-block;
        //width: 33%;
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        z-index: 25;
        margin-top: 75px;
        color: @color3;
        @media @tablet-screen, @mobile-screen {  font-size: 2rem;}
      }
      .text-left-3 { width: 40%; text-align: right;}
      .text-center-3 { width: 18%; font-size: 5rem;}
      .text-right-3 { width: 40%; text-align: left; }


      .text-center-3 {
        .fa-stack {
          .top { color: #fff; }
          .bottom { color: #000}
        }
        img {
          width: 180px;
          -webkit-filter: invert(1);
          filter: invert(1);
          @media @tablet-screen, @mobile-screen { width: 75px;  }
        }
      }
    }
  }
  .nav {
    background-color: @color5;
    .container {
      .navbar-header { }
      .navbar-collapse {
        .navbar-nav {
          width: 100%;
          li {
            width: 16%;
            text-align: center;
            a {
              .arw-btn {
                color: rgba(0,0,0,1);
                background-color: rgba(255,255,255,1);
                &:hover, &.active { background-color: @color3; color: rgba(255,255,255,1);}
                img { width: 85%; }
              }
            }
            @media @tablet-screen, @mobile-screen { width: 100%; text-align: center; }
          }
        }
      }
    }
    &.screenPass {
      position: fixed;
      top: 0px;
      width: 90%;
      border: 2px solid #000;
      z-index: 100;
      box-shadow: @main-shadow;
    }
  }

}

/*Items*/
md-tooltip {
  font-family: 'Lobster', cursive;
  font-size: 1.1rem;
}
*:focus { outline: none;}
