@event-img-size: 400px;
@event-mobile-size: 200px;
.event-key {
  padding: 0px 40px 20px;
  font-weight: bold;
  font-size: 1.2rem;

}
.events-list {
  padding: 10px 30px;
  color: rgba(0,0,0,1);
  .event-wrapper {
    position: relative;
    .event-title {
      position: absolute;
      z-index: 5;
      top:20px;
      width: 100%;
      text-align: center;
      background-color: @theme-color-red;
      font-size: 2rem;
      padding: 5px 0px;

      span {color:#fff; }
      .event-invite {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        color: rgba(255,255,255,1);
        font-size: 1.3rem;
      }
    }
    .event-section {
      z-index: 1;
      margin: 0px 10px;
      border: 1px solid #000;
      min-height: 400px;
      background-color: #fff;
      box-shadow: @main-shadow;
      .event-content {
        padding: 90px 30px 20px;
        overflow: hidden;
        .event-imgs {
          overflow: hidden;
          height: @event-img-size;
          position: relative;
          text-align: center;
          @media @tablet-screen, @mobile-screen { height: @event-mobile-size; }
          .event-img-solo {
            height: @event-img-size;
            position: relative;
            z-index: 2;
            @media @tablet-screen, @mobile-screen { height: @event-mobile-size; }
          }
          .special-solo-img {
            z-index: 1;
            height: 400%;
            width: 400%;
            position: absolute;
            top: -200%;
            left: 0;
            -webkit-filter: blur(20px);
            filter: blur(20px);
          }
        }
        .event-invite {
          display: block;
          width: 100%;
          color: rgba(255,255,255,1);
          padding: 10px;
          background-color: @theme-color-red;
          font-size: 1.5rem;
          margin-top: 20px;
          font-family: 'Delius', cursive;
          i {
            padding: 2px;
            display: inline-block;
            margin-right: 10px;
          }
          .invite-txt { display: inline-block; }
        }
        .event-details {
          font-family: 'Delius', cursive;
          font-size: 1rem;
          padding: 20px 5px 0px;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -moz-flex;
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: stretch;
          align-items: stretch;
          .event-info {
            display: inline-block;
            vertical-align: top;

            width: 49%;
            padding: 2px 10px 2px 2px;
            span {
              display: block;
            }
            @media @tablet-screen, @mobile-screen { width: 100%; }

            .event-location {
              text-align: center;
              color: @theme-color-red;
              font-weight: bold;
              border: 2px solid @theme-color-red;
              padding: 10px 3px;
              margin-top: 0px !important;
              font-family: @font-style1;
            }
            .event-date, .event-time {
              .date-tbd { display: inline-block; }
            }
          }
          .event-text {
            display: inline-block;
            vertical-align: top;
            border-left: 1px solid #000;
            width: 49%;
            padding: 2px 2px 2px 10px;

            @media @tablet-screen, @mobile-screen {
              width: 100%;
              border-left: none;
              border-top: 1px solid #000;
              padding: 2px;
            }
            .add-info {
              text-align: center;
              padding-top: 10px;
              h3 {
                color: @theme-color-red;
                font-weight: bold;
                border: 2px solid @theme-color-red;
                padding: 10px 3px;
                margin-top: 0px !important;
                font-family: @font-style1;
              }
              a { color: @color3; text-decoration: underline; }
            }
          }
        }
        @media @tablet-screen, @mobile-screen { padding: 90px 10px 20px; }
      }
    }
    &+.event-wrapper {
      margin-top: 30px;
    }
  }
  @media @tablet-screen, @mobile-screen { padding: 0px; }
}
