.galleryDisplay {
  height: 600px;
  width: 100%;
  margin-top: 30px;
  .mainContainer {
    width: 70%;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    position: relative;
    box-shadow: @main-shadow;
    .polaroid {
      background-color: #000;
      height: 100%;
      padding: 50px 2px;
      .img-container {
        height: 500px;
        overflow: hidden;
        img {
          margin: 0 auto;
          display: block;
          height: 100%;
        }
        @media @tablet-screen, @mobile-screen { width:100%; img { height: auto; width: 100%; } }
      }
      @media @tablet-screen, @mobile-screen { padding-top: 75px; }
    }
    .imageControls {
      font-size: 4rem;
      color: rgba(255,255,255,0.5);
      .ctrls {
        position: absolute;
        top: 50%;
        -webkit-transition: all 1s;
        &.prev { left:1%; }
        &.next { right:1%;}
        &:hover { color: @color3-back; }
        &:focus { outline: none;}
      }
    }
    @media @tablet-screen, @mobile-screen { width:100%; height: 70%; }
  }
  .allContainer {
    width: 25%;
    display: inline-block;
    height: 100%;
    overflow-y: scroll;
    .miniImgs {
      display: inline-block;
      width: 45%;
      height: 100px;
      padding: 0px 2px 2px 2px;
      overflow: hidden;
      -webkit-transition: all 1s;

      img { width: 100%; height: 100%; }
      &:hover { background-color: @color3-back; img { opacity: 0.5; } }

      @media @tablet-screen, @mobile-screen { width:100px;}
    }

    @media @tablet-screen, @mobile-screen {
      width:100%;
      height: 20%;
      border: 2px solid @color2;
    }
  }

  /*Custom Scroll Bar*/
  ::-webkit-scrollbar {    width: 20px; }
  ::-webkit-scrollbar-track {    background-color: #cccccc; }
  // the new scrollbar will have a flat appearance with the set background color
  ::-webkit-scrollbar-thumb {  background-color: @color3-back; }
  // this will style the thumb, ignoring the track
  ::-webkit-scrollbar-button { background-color: #000000; }
  // optionally, you can style the top and the bottom buttons (left and right for horizontal bars)
  ::-webkit-scrollbar-corner { background-color: black; }
  // if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled

}

/**/

.newGalleryDisplay {
  *, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .gallery-container {
    .photostack {
      div {
        width: 100%;
        height: 500px;
        overflow: hidden;
        background: #ccc;
        position: relative;
        figure {
          position: absolute;
          width: 320px;
          height: 360px;
          background:#fff;
          padding: 40px;
          .photostack-img {
            display: block;
            width: 240px;
            height: 240px;
            background: #f9f9f9;
            overflow: hidden;
            img {width: 100%; height: 100%;}
          }
          figcaption {
            display: block;
            .photostack-title { color: @color3;}
            /*.photostack-back { }*/
          }
        }
      }
    }
  }
}
