.newGalleryDisplay {
  *, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .gallery-container {
    .gallery-nav {
      width: 100%;
      background-color: rgba(0,0,0,0.8);
      border-top: 5px solid rgba(208,181,126,1);
      border-left: 5px solid rgba(208,181,126,1);
      border-right: 5px solid rgba(208,181,126,1);
      padding: 5px;

      .item-container {
        overflow-y: hidden;
        overflow-x: auto;
        white-space:nowrap;
        .gallery-item {
          display: inline-block;
          margin: 5px;
          padding: 5px;
          height: 195px;
          width: 180px;
          overflow: hidden;
          background-color: #fff;
          transition: all 0.5s ease;
          white-space: initial;

          &:hover, &.selected { background-color: @color3;}
          .item-img { display: block; width: 100%; height: 100px; img {width: 100%; height: 100%;}}
          .item-title { display: block; padding-top: 5px; font-size: 1.2rem; color: #000; text-align: center;}

          @media @tablet-screen, @mobile-screen { width: 110px;  height: 110px;  .item-img { height: 60px;}}
        }
      }
      .photo-credits {
        background-color: rgba(208,181,126,0.5);
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        text-transform: capitalize;
        padding: 5px;
        position: relative;
        display: block;
        color: rgba(255,255,255,1);
        -webkit-animation:0.5s fadeInUp ease;
        animation:0.5s fadeInUp ease;

        &.ng-leave {
          -webkit-animation:0.5s fadeOutDown ease;
          animation:0.5s fadeOutDown ease;
        }
        span { vertical-align: middle; }
        .allen-logo { height: 50px; overflow: hidden; display:inline-block; vertical-align: middle; img { height: 100%;  filter: invert(100%); }}
      }
    }
    .photostack {
      .stack-container {
        width: 100%;
        height: 600px;
        overflow: hidden;
        background: @theme-color-light;
        position: relative;
        border: 5px solid rgba(208,181,126,1);
        @media @mobile-screen { height: 550px; }

        .fade.ng-enter {
          transition:1.0s linear all;
          opacity:1;
        }
        /* The finishing CSS styles for the enter animation */
        .fade.ng-enter.ng-enter-active {
          opacity:0;
        }

        figure {
          position: absolute;
          width: 200px;
          min-height: 240px;
          background:#fff;
          padding: 20px;
          z-index: 8;
          border: 1px solid rgba(0,0,0,0.3);
          transition: all 0.5s ease;
          overflow: hidden;
          &.ng-leave { display: none; }

          &.selected {
            z-index: 10;
            border: 2px solid @color3;
            width: initial;
            height: 440px;
            padding: 40px;
            background:rgba(208,181,126,0.9);

            top: 30%;
            left: 50%;
            .photostack-img {
              //width: 320px;
              height: 320px;
              width: initial;
              background-color: rgba(0,0,0,0);
              img { height: 320px; }
            }
            figcaption { .photostack-title { color: #000; font-size: 2rem;}}

            @media @tablet-screen, @mobile-screen {
              height: 240px;
              padding: 20px;
              width: 90%;
              .photostack-img {
                width: initial;
                height: 160px;
                img { height: 160px; }
              }
            }
          }
          &:hover {
            box-shadow: @dark-shadow;
            z-index:11;
          }
          .photostack-img {
            display: block;
            width: 160px;
            height: 160px;
            background: #f9f9f9;
            overflow: hidden;
            text-align: center;
            img { max-width: 100%; height: 100%;}
          }
          figcaption {
            display: block;
            .photostack-title { color: @color3; font-size: 1.5rem; text-align: center;}
          }
        }
        /* Photo - nav*/
        .photo-nav {
          position: absolute;
          z-index: 11;
          bottom: 0px;
          background-color: rgba(0,0,0,0.7);
          padding: 3px;
          width: 100%;
          text-align: center;
          overflow-x: auto;
          white-space:nowrap;

          @media @tablet-screen, @mobile-screen { left: 0;}
          .nav-icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color:rgba(255,255,255,1);
            margin: 10px;
            border-radius: 25px;
            border:2px solid rgba(255,255,255,0.3);
            position: relative;
            overflow: hidden;
            @media @tablet-screen, @mobile-screen { margin:5px; }
            .img-preview { width: 200%;  position: absolute;  top: -30%; left: -50%; -webkit-filter: grayscale(80%); filter: grayscale(80%);}

            &.selected { background-color: @theme-color-gold; border-color: @theme-color-gold; .img-preview { -webkit-filter: grayscale(0%); filter: grayscale(0%);} }
            &:hover { border-color: @theme-color-gold; .img-preview {-webkit-filter: grayscale(20%); filter: grayscale(20%);} }

          }
        }
      }
    }
  }
}

md-dialog {
  border-radius: 0 !important;
  .md-toolbar-tools { background-color: rgba(208,181,126,0.9) !important; }
  .pop-img {
    width: 100%;
  }
}

.side-msg {
  position: fixed;
  bottom: 40%;
  right: 0;
  z-index: 100;
  color: rgba(0,0,0,1);
  padding: 15px 30px 15px 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  transition: all 1.5s ease;
  -webkit-animation:1.5s fadeInRight ease;
  animation:1.5s fadeInRight ease;
  &.ng-hide, &.ng-leave {
    -webkit-animation:1.5s fadeOutRight ease;
    animation:1.5s fadeOutRight ease;
  }
  &.show {
    visibility: hidden;
    //display: none;
    width: 0;
    -webkit-animation:1.5s fadeOutRight ease;
    animation:1.5s fadeOutRight ease;
  }

  &.allenMsg {
    background-color: rgba(171,152,114,0.5);
    border-top: 2px solid rgba(255,255,255,0.9);
    border-bottom: 2px solid rgba(255,255,255,0.9);
    border-left: 2px solid rgba(255,255,255,0.9);

    @media @mobile-screen { bottom: 0%; width: 90%; padding: 10px; border-bottom-left-radius: 0px; border-bottom: 0px; background-color: rgba(171,152,114,0.8);}
    .msg-container {
      font-family: @font-style2;
      font-size: 1.3rem;
      text-align: center;
      max-width: 150px;
      overflow: hidden;
      text-transform: capitalize;
      @media @mobile-screen { max-width: 100%; font-size: 1.2rem;}
      span {
        vertical-align: middle;
        @media @mobile-screen { width: 70%; float: left;}
      }
      .allen-logo {
        height: 50px;
        overflow: hidden;
        display:block;
        vertical-align: middle;
        @media @mobile-screen { width: 30%; float: left; height: 40px;}
        img { height: 100%;  filter: invert(100%); }
      }
    }
  }
}
