.newGalleryDisplay {
  *, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .gallery-container {
    .gallery-nav {
      width: 100%;
      border: 10px solid @color3;
      background-color: @color2;
      .gallery-item {
        display: inline-block;
        margin: 5px;
        padding: 5px;
        height: 150px;
        width: 150px;
        overflow: hidden;
        background-color: #fff;
        transition: all 0.5s ease;

        &:hover, &.selected { background-color: @color3;}
        .item-img { display: block; width: 100%; height: 100px; img {width: 100%; height: 100%;}}
        .item-title { display: block; padding-top: 5px; font-size: 1.2rem; color: #000; text-align: center; font-family: 'Great Vibes', cursive;}

        @media @tablet-screen, @mobile-screen { width: 110px;  height: 110px;  .item-img { height: 60px;}}
      }
    }
    .photostack {
      .stack-container {
        width: 100%;
        height: 800px;
        overflow: hidden;
        background: rgba(250,250,250,1);
        position: relative;
        border: 10px solid rgba(208,181,126,1);
        @media @mobile-screen { height: 550px; }

        .fade.ng-enter {
          transition:1.0s linear all;
          opacity:1;
        }
        /* The finishing CSS styles for the enter animation */
        .fade.ng-enter.ng-enter-active {
          opacity:0;
        }
        figure {
          position: absolute;
          width: 200px;
          height: 240px;
          background:#fff;
          padding: 20px;
          z-index: 8;
          border: 1px solid rgba(0,0,0,0.3);
          transition: all 0.5s ease;
          overflow: hidden;

          &.selected {
            z-index: 10;
            border: 2px solid @color3;
            //width: 400px;
            width: initial;
            height: 440px;
            padding: 40px;
            background:rgba(208,181,126,0.9);
            .photostack-img {
              //width: 320px;
              height: 320px;
              width: initial;
              background-color: rgba(0,0,0,0);
              img { height: 320px; }
            }
            figcaption { .photostack-title { color: #000; font-size: 2rem;}}

            @media @tablet-screen, @mobile-screen {
              height: 240px; padding: 20px;
              .photostack-img {
                width: initial;
                //width: 160px;
                height: 160px;
                img { height: 160px; }
              }
            }
          }
          &:hover {
            box-shadow: @dark-shadow;
            z-index:11;
          }
          .photostack-img {
            display: block;
            width: 160px;
            height: 160px;
            background: #f9f9f9;
            overflow: hidden;
            text-align: center;
            img { max-width: 100%; height: 100%;}
          }
          figcaption {
            display: block;
            .photostack-title { color: @color3; font-size: 1.5rem; text-align: center;}            
          }
        }
        .photo-nav {
          position: absolute;
          z-index: 11;
          bottom: 0px;
          background-color: rgba(255,255,255,0.7);
          padding: 3px;
          width: 100%;
          text-align: center;

          @media @tablet-screen, @mobile-screen { left: 0;}
          .nav-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: @color3;
            margin: 10px;
            border-radius: 25px;
            @media @tablet-screen, @mobile-screen { margin:5px; }
            &.selected { background-color: @color1; }
            &:hover { border:2px solid @color1;}
          }
        }
      }
    }
  }
}
