.card-page {
    .story {
      .timeline {
        &:before {
          background-color: #000;
        }
        timeline-badge {
          z-index: 30;
          &.kColor { background-color: rgba(0, 43, 128,1); }
          &.gColor { background-color: rgba(255, 128, 170,1); }

          &.centerimg {
            border-radius: 0px;
            overflow: hidden;
            width: 60%;
            height: 300px;
            left: 25%;

            .timeline-badge {
              img {
                width: 100%;
              }
            }
            @media @tablet-screen, @mobile-screen { height: auto; }
          }
        }
        timeline-panel {
          &.kColor { background-color: rgba(0, 43, 128, 0.7); }
          &.gColor { background-color: rgba(255, 128, 170, 0.7); }
          .timeline-panel {
            width: 100%;
            .timeline-when {
              color: rgba(204, 204, 204,1);
            }
          }

          &.centerimg {
            height: 350px;
          }
        }
      }
    }
}
