.card-page { }

/*Party Book*/
.party-book {
  position: relative;
  z-index: 10;
  margin-top: 50px;
  color: #000000;

  .book-outside-nav {
    text-align: center;
    padding: 5px;
    z-index: 51;
    margin-bottom: 10px;
    a {
      font-size: 5rem;
      color: rgba(0,0,0,1);
      transition: all 1.2s ease;
      &+a { margin-left: 10%;}
      &:hover { color: @theme-color-gold;}
    }
  }
  .container {
    width: 100%;
    @media @mobile-screen { padding: 0px !important;}
    .bb-custom-wrapper {
      width: 100%;
	    height: 100%;
	    position: relative;
      -webkit-perspective: 2000px;
	    perspective: 2000px;
      .bb-bookblock {
        height: 400px;
        width: 100%;
        -webkit-perspective: 2000px;
	      perspective: 2000px;
        z-index: 40;
        .bb-item, .bb-page {
          background-color:rgba(0,0,0,0);
          @media @mobile-screen { max-height: 300px; }
          .bb-custom-side {
            width: 50%;
          	float: left;
          	height: 100%;
          	overflow: hidden;
          	background: #fff;
            border: 2px solid rgba(0,0,0,1);
            position: relative;
            //display: inline-block;
            // Centering with flexbox
          	display: -webkit-box;
          	display: -moz-box;
          	display: -webkit-flex;
          	display: flex;
          	-webkit-flex-direction: row;
          	flex-direction: row;
          	-webkit-flex-wrap: wrap;
          	flex-wrap: wrap;
          	-webkit-box-pack: center;
          	-moz-box-pack: center;
          	-webkit-justify-content: center;
          	justify-content: center;
          	-webkit-box-align: center;
          	-moz-box-align: center;
          	-webkit-align-items: center;
          	align-items: center;

            .story {
              display: inline-block;
              padding: 8%;
              text-align: center;
              font-size: 1rem;
              height: 100%;
              overflow-y: auto;
              &.full-img { padding: 0; height: 100%; }
              .story-page-img {
                width: 100%;
                height: 100%;
                position: relative;
                .main-img { width: 100%; height: 100%;}
                .special-img { display: none;}
                @media @mobile-screen {
                  .main-img {
                    height: initial;
                    position: relative;
                    z-index: 2;
                    margin: 50% 0px;
                  }
                  .special-img {
                    display: block;
                    position: absolute;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    -webkit-filter: blur(20px);
                    filter: blur(20px);
                  }
                }
              }
              .story-inside-img {
                height: 100%;
                .main-img {
                  height: 100%;
                  width: 100%;
                  @media @mobile-screen {
                    width: 100%;
                    height: initial;
                    position: relative;
                    z-index: 2;
                    margin: 50% 0px;
                  }
                }
                .special-img {
                  display: none;
                  @media @mobile-screen {
                    display: block;
                    position: absolute;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    -webkit-filter: blur(20px);
                    filter: blur(20px);
                  }
                }
              }
              &.video-story {
                width: 100%; height: 100%;
                .story-page-video {
                  width: 100%; height: 100%;
                  iframe {
                    width: 100%; height: 100%;
                    @media @mobile-screen { height:initial;  padding-top: 50%; }
                  }

                }
              }

              .story-img {
                height: 50px;
                overflow: hidden;
                padding-bottom: 5px;
                text-align: left;
                &.ckris {
                  border-bottom: 3px solid rgba(4,18,45,1);
                }
                &.cgrace {
                  border-bottom: 3px solid rgba(245,215,205,1);
                }

                img { height: 100%;}
                .story-teller {
                  //float: right;
                  padding: 0px 0px 7px 7px;
                  display: inline-block;
                  span {
                    font-size: 1.5rem; color: rgba(255,255,255,1);
                    text-transform: capitalize;
                    font-family: @font-style1;//'Delius', cursive;
                    font-weight: bold;
                    color: rgba(0,0,0,1);
                  }
                }
              }

              .story-title { font-size: 1.5rem; padding: 10px 0 7px; font-weight: bold;}
              .story-when { font-size: 1rem; font-weight: bold;}
              .story-content {  font-family: 'Delius', cursive;    }

              &.left {  .member-title { color: @color4;  } }
              &.right { .member-title { color: @color2;  } }

              @media @mobile-screen {
                padding: 3px;
                height: 85%;
                position: absolute;
                bottom: 0;
                overflow-y: auto;
              }
            }

            @media @mobile-screen {  overflow-y: hidden; }
          }
          &.bb-cover {  background-color:rgba(0,0,0,0);}
        }
      }
      .book-inside-nav {
        text-align: center;
        padding: 5px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 51;
        a { font-size: 2rem; color: @theme-color-gold;}
      }
    }
  }

  /*Scroll Styles*/
  ::-webkit-scrollbar-track   {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3) !important;
  	background-color: rgba(10,10,10,0.7);
  }

  ::-webkit-scrollbar  {
  	width: 7px !important;
    background-color: rgba(50,50,50,0.7) !important;
  }

  ::-webkit-scrollbar-thumb  {
    background-color: rgba(200,200,200,0.3) !important;
  	border-top: 5px solid rgba(171,152,114,0.5) !important;
    border-bottom: 5px solid rgba(171,152,114,0.5) !important;
    border-left: none !important;
    border-right: none !important;
  }
}

.blank-side { background-color: rgba(0,0,0,0) !important;/*@color1 !important;*/ border: none !important;}
.cover {
  border: 10px solid rgba(0,0,0,1) !important;
  .cover-text {
    display: block;
    color: @color3;
      @media @mobile-screen { width: 100%;}
    h1 {
      font-size: 4rem;
      font-weight: bold;
      &.front-cover {
        position: absolute;
        top:50%;
        @media @mobile-screen { top: 65%; width: 100%; font-size: 2.5rem !important;}
      }
      @media @mobile-screen { font-size: 2rem;}
    }
    .story-cover-img {
      height: 300px;
      @media @mobile-screen { height: 200px;}
      img {
        height: 100%;
        @media @tablet-screen {height: initial; width: 80%;}
        @media @mobile-screen {height: initial; width: 100%;}
      }
    }
  }
}
.bb-title {
  background-color: @theme-color-blue !important;
  .cover-text {
    display: block;
    color: @color3;
      @media @mobile-screen { width: 100%;}
    h1 {
      font-size: 2rem;
      font-weight: bold;
      @media @mobile-screen { font-size: 2rem;}
    }
  }
}


.bb-content { background-color: rgba(0,0,0,0) !important;}
