.registry-text {
  text-align: center;
  font-family: 'Delius', cursive;
}

.registry-links {
  padding-top: 30px;
  a {
    padding: 5px;
    width: 33.33%;
    float: left;
    display: inline-block;
    .registry-item {
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      border: 2px solid #000;
      overflow: hidden;
      position: relative;
      height: 200px;
      box-shadow: @main-shadow;
      background-color: rgba(255,255,255,0.5);

      @media @mobile-screen { width: 100%; display: block; margin-bottom: 30px;}
      img {
        width: 70%;
        margin: 0 auto;
        padding-top:60px;
        display: block;

        transition: all 1.5s ease;
      }
      &:hover { background-color: rgba(255,255,255,1); img { transform: scale(1.2);}}
    }
    &:hover { text-decoration: none;}
  }
  .no-items {
    font-size: 2rem;
    font-weight: bold;
    color: @theme-color-red;
    text-align: center;
    text-decoration: underline;
  }
}
