.registry-text {
  text-align: center;
  font-family: 'Delius', cursive;
}

.registry-links {
  padding-top: 30px;
  text-align: center;
  a {
    padding: 5px;
    width: 33.32%;
    display: inline-block;
    @media @mobile-screen { width: 100%; display: block; margin-bottom: 30px;}
    .registry-item {
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      border: 2px solid #000;
      overflow: hidden;
      position: relative;
      height: 200px;
      box-shadow: @main-shadow;
      background-color: rgba(255,255,255,0.5);

      img {
        width: 70%;
        margin: 0 auto;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 1.5s ease;
      }
      &:hover { background-color: rgba(205,205,205,0.5); -webkit-animation:1.5s bounce ease; animation:1.5s bounce ease;}
    }
    &:hover { text-decoration: none;}
  }
  .no-items {
    font-size: 2rem;
    font-weight: bold;
    color: @theme-color-red;
    text-align: center;
    text-decoration: underline;
  }
}
