.rsvp-key {
  font-family: 'Libre Baskerville', serif;
  .rsvpKeyForm {
    display: inline-block;
    width: 100%;
    md-input-container {
      width: 80%;
      @media @tablet-screen, @mobile-screen { width: 100%; }

      label { color: rgba(255,255,255,1); }
      .md-input { border-color: rgba(255,255,255,1); color: rgba(255,255,255,0.87);}
    }
    .key-unlock {
      background-color: @color2;
      &:hover{ background-color: @color4;}
      i {color: @color3;}
    }
  }
}

.rsvp-locked {
  font-family: 'Lobster', cursive;
  text-align: center;
  color: @color3;
  i { font-size: 5rem;}
  p { font-size: 2rem;}
}

.rsvp-form {
  padding: 50px 0px;
  iframe {
    height: 1200px;
    width: 100%;
  }
}
