.rsvp-key {
  font-family: 'Delius', cursive;
  .rsvpKeyForm {
    display: inline-block;
    width: 100%;
    md-input-container {
      width: 80%;
      @media @tablet-screen, @mobile-screen { width: 100%; }

      label { color: @theme-color-red; white-space: initial;}
      .md-input { border-color: rgba(0,0,0,1); color: rgba(0,0,0,0.87);}
    }
    .key-unlock {
      background-color: @theme-color-red;
      &:hover{ background-color: @theme-color-gold;}
      i {color: rgba(0,0,0,1);}
    }
  }
}

.rsvp-locked {
  text-align: center;
  color: @color3;
  i { font-size: 5rem;}
  p { font-size: 2rem;}
}

.rsvp-form {
  padding: 50px 0px;
  iframe {
    height: 1200px;
    width: 100%;
  }
}
