.wedding-party {
  .party-image{
    overflow: hidden;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    img { width: 100%; }
  }
  .party-list {
    .wrapper-title{
      padding: 50px 0;
      .title {
        margin-bottom: 30px;
        text-align: center;
        line-height: .5rem;
        span {
          display: inline-block;
          position: relative;
          font-size: 1.5rem;
          padding: 0 5px;
          @media @tablet-screen, @mobile-screen { text-decoration: underline; }

          &:after, &:before {
            content: "";
            position: absolute;
            height: 5px;
            border-bottom: 1px solid #000;
            border-top: 1px solid #000;
            top: 0;
            width: 100%;
            @media @tablet-screen, @mobile-screen { display: none;}
          }
          &:before { right: 100%; margin-right: 15px;}
          &:after { left: 100%; margin-right: 15px;}
        }
      }
    }
    .party-group {
      position: relative;
      border: 1px solid #000;
      background-color: #fff;
      padding: 10px 5px;
      .top-bow {
        position: absolute;
        left: 45%;
        top: -22%;
        img { width: 100px;}
        @media @tablet-screen, @mobile-screen { left: 40%; top: -6%; img { width: 50px;}}
      }
      .member {
        display: inline-block;
        width: 49%;
        padding: 10px;
        text-align: center;
        font-size: 1rem;
        &.left {}
        &.right { border-left: 1px solid #000;}
        .member-img {
          height: 50px;
          overflow: hidden;
          img { height: 100%;}
        }
        .member-name { font-family: 'Lobster', cursive; font-size: 1.2rem; padding: 7px 0;}
        .member-bio { font-family: 'Libre Baskerville', serif; }

        @media @tablet-screen, @mobile-screen {
          width: 100%;
          &.right {border-left: none; border-top: 1px solid #000; }
        }
      }
      &+.party-group { margin-top: 30px;}
    }
  }
}
