<div class="nav-container">
    <div class="nav-top">
      <div class="nav-top-header">
        <!--<div class="center-img" ng-click="mc.togglePage('app.home')">
          <img ng-src="{{hdc.mainImg}}">
        </div>-->
        <div class="nav-top-text">
          <div class="text-left">May 19, 2018</div>
          <div class="text-center">Thank you for your love and support</div>
          <div class="text-right">New York, NY</div>
        </div>
      </div>
      <div class="nav-top-content">
        <div class="content-text">
          <div class="card-title-text text-left-3"><div>Kris Redding</div></div>
          <div class="card-title-text text-center-3"><div>&</div></div>
          <div class="card-title-text text-right-3"><div>Grace Manning</div></div>
        </div>
        <div class="content-back-img">
          <img class="back-img img-left" src="img/background/image_left.min.svg">
          <img class="back-img img-center" src="img/background/image_couple.min.svg">
          <img class="back-img img-right" src="img/background/image_right.svg">
        </div>
      </div>
    </div>

    <nav class="nav navbar-inverse" id="arw-main-nav" role="navigation" nav-hold>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="arwNavbar">
          <ul class="nav navbar-nav" id="arw-inside-nav">
            <li ng-repeat="page in hdc.pages">
              <a class="link" ng-click="mc.togglePage(page.state)" ng-class="{'active':hdc.checkActivePage('{{page.name}}')}">
                <div class="nav-text">{{page.title}}</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="landing-page" ng-if="hdc.preLoad.$$state.status != 1">
    <div class="landing-text">
      <div class="hashtags"><div class="tag">#AlmostReddings</div> <div class="tag">#AReddingWedding</div></div>
    </div>

    <div class="loading-animation">
      <div class="load-content">
        <div class="loading-text">One Moment</div><i class="fa fa-circle-o-notch fa-spin"></i>
      </div>
    </div>
  </div>
