<div class="nav-container">
    <div class="nav-top">
      <div class="nav-top-header">
        <div class="center-img" ng-click="mc.togglePage('app.home')">          
          <img ng-src="{{hdc.mainImg}}">
        </div>
        <div class="nav-top-text">
          <div class="text-left">May 18, 2018</div>
          <div class="text-right">New York, NY</div>
        </div>
      </div>
      <div class="nav-top-content">
        <div class="text-left-3"><div>Kris<br>Redding</div></div>
        <div class="text-center-3">
          <!--<i class="fa fa-heartbeat"></i>-->
          <img src="img/weddingicons/svg/wine-toast.svg" >
        </div>
        <div class="text-right-3"><div>Grace<br>Manning</div></div>
      </div>
    </div>

    <nav class="nav navbar-inverse" id="arw-main-nav" role="navigation" nav-hold>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" id="arw-inside-nav">
            <li ng-repeat="page in hdc.pages"><a ng-click="mc.togglePage(page.state)">
              <md-button class="md-fab arw-btn" ng-class="{'active':hdc.checkActivePage('{{page.name}}')}" aria-label="page.title">
                <md-tooltip md-direction="bottom">{{page.title}}</md-tooltip>
                <!--<i class="fa fa-lg" ng-class="page.icon"></i>-->
                <img ng-src="img/weddingicons/svg/{{page.svg}}" >
              </md-button>
            </a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
